<input type="hidden" name="phase" id="phase" value="<?php echo $Phase ?>">
<div class="row">
  <div class="col-md-12 col-xl-12" >
  <h1>Plan de Acción</h1>
    <div class="card">
    <div class="header" id="cabezera">
      <h4 class="title">Asignar Evento</h4>
    </div>
    <div class="content" id="contenido">
      <!-- ////////////////////////////// -->
      <div id="nuevoEvento">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5>Actividad {{vista.num}}</h5>
            </div>
            <div class="card-block">
              <blockquote class="card-blockquote">
                <p>{{vista.question}}</p>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div id="valFechas"></div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha Inicial:</label>
                <input type="text" id="from" name="from" ng-model='vista.fi' class="form-control border-input" placeholder="Fecha Inicial">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha Final:</label>
                <input type="text" id="to" name="to" ng-model='vista.ff' class="form-control border-input" placeholder="Fecha Final">
            </div>
        </div>
      </div>
      <div id="eventostodos">

      </div>
      <table class="table">
        <thead>
          <tr>
            <th>N</th>
            <th>Actividad</th>
            <th>Empieza</th>
            <th>Termina</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <!-- ////////////////////////////// -->
      <br><br>
      <a href="#/calendario" class="btn btn-defaul btn-wd" >Cancelar</a>
      <button ng-if='bandera' type="button" class="btn btn-info btn-fill btn-wd" ng-click="guardar()" >Guardar</button><br><br>

    </div>
    </div>
  </div>
</div>
