
<!-- Variables que se van a necesitar-->
<input type="hidden" name="phase" id="phase" value="<?php echo $Phase ?>">
<div class="row">
  <div class="col-md-12 col-xl-12" >
    <h1>Plan de Acción</h1>
    <div class="card">
      <div class="header" id="cabezera">
          <h4 class="title">Ordene las Actividades</h4>
          <p class="category">Click sobre la pregunta y arrástrela al principio o al final, según su prioridad.</p>
      </div>
      <div class="content" id="contenido">
        <div id="validacion">

        </div>
        <table id="mitabla" class="table">
          <thead>
            <tr>
              <th>Actividades</th>
            </tr>
          </thead>
          <tbody id="preOrdenadas" draggable="true">
            <tr ng-repeat="p in priorizadas" >
              <td class="mover">
              {{p.question}}
              <input type="hidden" id="ordenPreguntas{{p.id}}" value="{{p.id}}">
              </td>
            </tr>
          </tbody>
        </table>
        <style type="text/css">
        .mover:hover{
          font-weight: bold;
          cursor: move;
        }
        </style>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#mitabla tbody").sortable({
                  placeholder: "highlight"
                });
                $( "#mitabla tbody" ).disableSelection();
                //Configuracion fecha
                $(function() {
                  $("#from").datepicker({
                    beforeShowDay: $.datepicker.noWeekends,
                    onClose: function (selectedDate) {
                      if (selectedDate=="") {
                          var f= new Date();
                          f.setDate(f.getDate()+1);
                          selectedDate=(f.getMonth()+1)+"/"+f.getDate()+"/"+f.getFullYear();
                        }else {
                          f = new Date(selectedDate);
                          f.setDate(f.getDate()+1);
                          selectedDate=(f.getMonth()+1)+"/"+f.getDate()+"/"+f.getFullYear();
                        }
                      $("#to").datepicker("option", "minDate", selectedDate);
                    }, minDate: "0",changeMonth: true
                  });

                  $("#to").datepicker({
                    beforeShowDay: $.datepicker.noWeekends,
                    onClose: function (selectedDate) {
                      if (selectedDate!="") {
                        f = new Date(selectedDate);
                        f.setDate(f.getDate()-1);
                        selectedDate=(f.getMonth()+1)+"/"+f.getDate()+"/"+f.getFullYear();
                      }
                    $("#from").datepicker("option", "maxDate",selectedDate);
                    }, minDate: "0" , changeMonth: true
                  });
                });
                ///////////////////////////////////////////
            });
        </script>
        <div class="col-md-12">
          <div id="valFechas"></div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha Inicial:</label>
                <input type="text" id="from" name="from" class="form-control border-input" placeholder="Fecha Inicial">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha Final:</label>
                <input type="text" id="to" name="to" class="form-control border-input" placeholder="Fecha Final">
            </div>
        </div>
        <br><br>
        <a href="#/" class="btn btn-defaul btn-wd" >Atrás</a>
        <button  type="button" class="btn btn-info btn-fill btn-wd" ng-click="siguiente()" >Siguiente</button><br><br>
        </div>
      </div>
    </div>
  </div>



  <script>



  </script>
