
<!-- Variables que se van a necesitar-->
<input type="hidden" name="phase" id="phase" value="<?php echo $Phase ?>">
<div class="row">
  <div class="col-md-12 col-xl-12" >
    <h1>Plan de Acción</h1>
    <div class="card">
      <div class="header" id="cabezera">
          <h4 class="title">Ordene las Actividades</h4>
          <p class="category">Click sobre la pregunta y arrástrela al principio o al final, según su prioridad.</p>
      </div>
      <div class="content" id="contenido">
        <div id="validacion">

        </div>
        <table id="mitabla" class="table">
          <thead>
            <tr>
              <th>Actividad</th>
            </tr>
          </thead>
          <tbody id="preOrdenadas" draggable="true">
            <tr ng-repeat="p in priorizadas" >
              <td class="mover">
              {{p.question}}
              <input type="hidden" id="ordenPreguntas{{p.id}}" value="{{p.id}}">
              </td>
            </tr>
          </tbody>
        </table>
        <style type="text/css">
        .mover:hover{
          font-weight: bold;
          /*cursor:pointer; cursor: hand*/
          cursor: move;
        }
        </style>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#mitabla tbody").sortable({
                  //revert: true,
                  //opacity: 0.6,
                  //cursor: 'move',
                  //placeholder: "ui-state-highlight"
                  placeholder: "highlight"
                });
                $( "#mitabla tbody" ).disableSelection();
            });
        </script>
        <a href="#/" class="btn btn-defaul btn-wd" >Atrás</a>
        <button  type="button" class="btn btn-info btn-fill btn-wd" ng-click="siguiente()" >Siguiente</button><br><br>
        </div>
      </div>
    </div>
  </div>
